<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<!-- Title -->
		<title><?php wp_title("", true, "right"); ?></title>
    
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<!-- Viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Stylesheet -->
		= stylesheet_link_tag("master")
		
		- if(ENV == ENV_DEVELOPMENT):
		<!-- Hashgrid -->
		= stylesheet_link_tag("hashgrid")
		- endif;
		<!--[if lt IE 9]>
		= javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")
		<![endif]-->
    
		<!-- Icon -->
		<link rel="icon" type="image/png" href="/favicon.png" />
		
		- wp_head()
  
	</head>

<body <?php echo body_class();?>>

	<div class="sidebar">
		= render_partial("partials/sidebar")
	</div>

	<section role="main">

		= yield()

	</section>


	<footer role="contentinfo">
		= render_partial("partials/footer");
	</footer>

- wp_footer()

- if(ENV == ENV_DEVELOPMENT):
	= javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
	= javascript_include_tag("jquery.hashgrid")
	<script type="text/javascript">
		var grid = new hashgrid();
	</script>
- endif;


= javascript_include_tag("zepto.min")
= javascript_include_tag("main")

<script type="text/html" id="github-commit">
	<li>
		<span class="commit-message">{{message}}</span>
		<small class="list-detail">{{sha}}</small>
	</li>
</script>

- if(is_page("projects")):
<script type="text/javascript">
	function template(string, d){
		for(var p in d){
			string = string.replace(new RegExp('{{'+p+'}}','g'), d[p]);
		}
		return string;
	};

	$(document).ready(function() {
		var base = "https://api.github.com",
			commit_endpoint = "/repos/johanbrook/lato/commits",
			url = base+commit_endpoint+"?per_page=5&callback=?",
			github_template = $("#github-commit").html();
			
		$.getJSON(url, show);
		
		function show(json) {
			if(json.meta.status != 200) return;
			
			items = [];

			$.each(json.data, function(){

				var obj = {
					name: this.commit.committer.name,
					date: this.commit.committer.date,
					message: this.commit.message,
					url: this.url,
					sha: this.sha.substring(0, 6)
				};
				
				items.push(template(github_template, obj));
			});

			
			$("#github-commits ul.list").html(items.join(""));
		}
	});
</script>
- endif;
</body>
</html>